root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{c,h}]
indent_style = tab
indent_size = 8

[*.sql]
indent_style = tab

[*.yml]
indent_size = 2
