/*
 * Copyright (c) 2023 Egor Tensin <egor@tensin.name>
 * This file is part of the "cimple" project.
 * For details, see https://github.com/egor-tensin/cimple.
 * Distributed under the MIT License.
 */

const char *project_version = "@PROJECT_VERSION@";
const char *project_rev = "@PROJECT_REV@";

const char *default_host = "@DEFAULT_HOST@";
const char *default_port = "@DEFAULT_PORT@";
const char *default_sqlite_path = "@DEFAULT_SQLITE_PATH@";
